
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #f1f1f3;
}
/* Predefined class */

.primary-color{
    color: #4E47FF;
}

.dark-1{
    color: #252432;
}

.dark-2{
    color: #8987A1;
}
/* header section styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 698px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    padding: 50px 0;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-size: 34px;
    font-weight: 800;
}
.btn{
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.btn:hover{
    background-color: yellow;
    color: black;
}
.hero{
    margin: 152px 267.5px ;
    text-align: center;
    align-items: center;
}
.hero h1{
    font-size: 65px;
    font-weight: 700;
}
/* action section styles */
.action{
    margin: 80px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 510px;
}
.left .title{
    font-size: 42px;
    font-weight: 700;
}
.left .description{
    font-size: 24px;
}
.right img{
    width: 403px;
    border-radius: 48px;
}

/* productive-user styles */
.productive-user{
    margin: 0 160px 80px 140px;
    background-color: #d7e0e1;
    padding: 50px 80px;
    border-radius: 40px;
}
.productive-user .main-title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}
.productive-user-container{
    display: flex;
    justify-content: space-around;
}
.productive-user-container .content .title{
    font-size: 80px;
    font-weight: 700;
}
.productive-user-container .content .subtitle{
    font-size: 20px;
    margin-top: -50px;
    text-align: center;
    font-weight: 400;
}
/* comment section styles */
.comment-section{
    margin: 80px 150px;
}
.comment-section-title{
    text-align: center;
    padding-bottom: 50px;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.comment-card-container{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    border-radius: 10px;
}
.comment-card-container .card{
    border: none;
    border-radius: 10px;
    padding: 24px;
    background-color: white;
}
.comment-card-container .card .comment-avater{
    display: flex;
    gap: 20px;
}
.comment-avater .avater img{
    border-radius: 40px;
}
.comment-avater .avater-name {
    margin-top: 0;
    color: #2e2d39;
}
.comment-avater .date{
    margin-top: -12px;
    color: #8987A1;
}


/* focus section styles */
.focus{
    margin: 70px 150px;
    padding: 70px 150px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}
.focus .focus-title{
    font-size: 50px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.focus .focus-description{
    margin-top: -20px;
}
.focus .focus-image img{
    border-radius: 40px;
    margin-top: 20px;
}
/* newsletter section styles */
.newsletter{
    display: flex;
    margin: 80px 150px;
    gap: 80px;
    align-items: center;
    padding: 70px 0;
}
.newsletter .newsletter-left{
    width: 528px;
}
.newsletter .newsletter-left .newsletter-title{
    font-size: 97px;
    font-weight: 700;
}

.newsletter .newsletter-right label{
    font-size: 18px;
    font-weight: 500;
}
.newsletter .newsletter-right input[type="text"],input[type="email"],textarea{
    width: 528px;
    padding: 25px 35px;
    border-radius: 10px;
    border:none; 
    margin: 10px 0;
}
.newsletter .newsletter-right .btn{
    width: 100%;
    padding: 22px 101px;
}
/* footer styles */

.footer{
    padding: 104px 500px;
    text-align: center;
    background-color: white;
    width: 532px;
}
.footer .footer-logo a{
    text-decoration: none;
    font-size: 100px;
    font-weight: 800;
}
.footer .quick-link{
    display: flex;
    justify-content: space-around;
}
.footer .quick-link li{
    list-style: none;
}
.footer .quick-link a{
    text-decoration: none;
}

