
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Predefined class */

.primary-color{
    color: #4E47FF;
}

.dark-1{
    color: #252432;
}

.dark-2{
    color: #8987A1;
}
/* header section styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 698px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 140px;
    align-items: center;
}
.logo a{
    text-decoration: none;
    font-size: 34px;
    font-weight: 800;
}
.btn{
    padding: 10px 28px;
    border-radius: 10px;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.hero{
    margin: 309px 267.5px 152px 267.5px;
    text-align: center;
}
.hero h1{
    font-size: 65px;
    font-weight: 700;
}
/* action section styles */
.action{
    margin: 80px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 510px;
}
.left .title{
    font-size: 42px;
    font-weight: 700;
}
.left .description{
    font-size: 24px;
}
.right img{
    width: 403px;
    border-radius: 48px;
}

/* productive-user styles */
.productive-user{
    height: 306px;
    margin: 0 160px 80px 140px;
    background-color: #c9e4e8;
    padding: 50px 80px;
    border-radius: 40px;
}
.productive-user .main-title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}
.productive-user-container{
    display: flex;
    justify-content: space-around;
}
.productive-user-container .content .title{
    font-size: 80px;
    font-weight: 700;
}
.productive-user-container .content .subtitle{
    font-size: 20px;
    margin-top: -50px;
    text-align: center;
}
/* focus section styles */
.focus{
    padding: 70px 150px;
    text-align: center;
}
.focus .focus-title{
    font-size: 50px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.focus .focus-description{
    margin-top: -20px;
}
.focus .focus-image img{
    border-radius: 40px;
    margin-top: 20px;
}
/* newsletter section styles */
.newsletter{
    display: flex;
    margin: 80px 150px;
    gap: 80px;
    align-items: center;
    padding: 70px 0;
}
.newsletter .newsletter-left{
    width: 528px;
}
.newsletter .newsletter-left .newsletter-title{
    font-size: 97px;
    font-weight: 700;
}

.newsletter .newsletter-right label{
    font-size: 18px;
    font-weight: 500;
}
.newsletter .newsletter-right input[type="text"],input[type="email"],textarea{
    width: 528px;
    padding: 15px 35px;
    border-radius: 10px;
    border:none; 
    margin: 10px 0;
}